.main {
    width: 80%;
    margin: 0 auto;
}

.box {
    display:grid;
    grid-template-columns: 50% 50%;
    margin: 60px 0;
}

.box .picture img {
    width: 100%;
}

.box .picture img[src="dog1.jpg"] {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
    border: 18px solid white;
    width: 60%;
    transform: rotate(15deg);
}

.box .picture img[src="dog2.jpg"] {
    width:300px;
}

.box .picture img[src="dog3.jpg"] {
    width:300px;
}


body {
    font-size: 24px;
}

h1 {
    font-size: 1.5em;
}
p {
    font-size: 0.7em;
}
a {
    font-size: 1em;
}

.button {
    display: inline-block;
    background-color: indianred;
    width:120px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    text-align: center;
    color:wheat;
    text-decoration: none;
}

.button:hover {
    background-color: blue;
}

.title {
    text-align: center;
    
}