mixin CreateBox(totle, content, button, imgName)
    .box
        .content
           h1=title
           p=content
           a(href="#"=button)
        .picture
            img(src=imgName)

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title DogLife.
    body 
        include nav.pug