.main {
    width: 80%;
    margin: 0 auto;
}

.box {
    display:grid;
    grid-template-columns: 50% 50%;
    margin: 60px 0;
}

.box .picture img {
    width: 100%;
}

.box .picture img[src="dog1.jpg"] {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
    border: 18px solid white;
    width: 60%;
    transform: rotate(15deg);
}

.box .picture img[src="dog2.jpg"] {
    width:300px;
}

.box .picture img[src="dog3.jpg"] {
    width:300px;
}


body {
    font-size: 24px;
}

h1 {
    font-size: 1.5em;
}
p {
    font-size: 0.7em;
}
a {
    font-size: 1em;
}

.button {
    display: inline-block;
    background-color: indianred;
    width:120px;
    height: 60px;
    border-radius: 60px;
    line-height: 60px;
    text-align: center;
    color:wheat;
    text-decoration: none;
}

.button:hover {
    background-color: blue;
}

.title {
    text-align: center;
    
}

.priceBox {
    display: grid;
    grid-template-columns: auto auto auto;
}
.priceBox h2 {
    margin: 30px 0;
}
.priceBox h3 {
    margin: 20px 0;
}
.priceBox ul li {
    margin: 10px 0;
}
.priceBox a {
    margin: 10px 0;
}

.priceBox div{
    background-color: rgb(150, 50, 50);
    color: white;
    text-align: center;
    padding: 50px 30px;
}
.priceBox div ul {
    list-style-image: url(check.png);
    list-style-position: inside;
    text-align: left;
}
.priceBox .prem {
    background-color: #333;
}
.priceBox a {
    background-color: #333;
}
.priceBox .prem a {
    background-color: rgb(150, 50, 50);
}

.priceBox .basic ul li:nth-child(n+3), .priceBox .prem ul li:nth-child(n+5)  {
    text-decoration: line-through;
    color: #999
}

.contact {
    display: grid;
    grid-template-columns: 50% 50%;
    width:80%;
    margin: 0 auto;
    color:#555; 
}

.contact form{
    padding: 0 30px;
}


.gray {
    background-color: #eee;
}
.contact input {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}
.contact label {
    display: block;
    margin: 10px 0;
}
.contact textarea {
    width: 100%;
    border-radius: 10px;
}
.contact input[type="submit"] {
    width: 120px;
    padding: 0;
    border-radius: 60px;
    margin: 30px 0;
}
.contact .text {
    padding: 0 30px;
}


footer {
    background-color:#f442d7;
    padding: 100pz 20px;
    height: 400px;
}

.footerBox {
    width:80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    color:#ccc;
}

.footerBox h3{
    color:white;
    margin-bottom: 30px;
    margin-top: 30px;
}

.footerBox ul li a{
    color:#ccc;
}

.footerBox ul{
    list-style: none;
}

.footerBox ul li {
    padding: 10px 0;
}

.footerBox .follow  {
    display: inline-block;
    width:30px;
    padding: 5px;
}

.footerBox .follow  img{
    width:100%;
}

footer hr {
    width: 80%;
    height: 1px;
    background-color: #41f4ca;
    margin:  0 auto;
}

footer .copyright {
    color:#55f441;
    text-align: center;
    margin-top: 20px;
}