mixin CreateBox(title, content, button, imgName)
    .box
        .content
           h1=title
           p=content
           a(href="#")=button
        .picture
            img(src=imgName)

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title DogLife.
    body 
        main
            include nav.pug
            link(rel="stylesheet", href="index.css")

    +CreateBox("標題","內容","按鈕","dog.jpg")
    