* {
    border: 0.5px solid rgba(0 ,0 ,0 ,0);
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}

.nav ul{
    float: right;
}

.nav ul li {
    /* li圈圈用掉 */
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

.nav .logo {
    font-size: 36px;
}

.nav .logo .red {
    color:indianred;
}

.nav a {
    color: #775577;
    /* 去掉ul li底線 */
    text-decoration: none;
    font-weight: 600;
}

.nav .logo .bolder {
    font-weight: 900;
}